# Environment variables
.env
.env*.local

# Next.js build output
.next/
out/
build/
dist/

# Dependencies
node_modules/

# OS and IDE files
.DS_Store
*.pem
*.tsbuildinfo
.vscode/
.idea/

# Python artifacts
__pycache__/
*.pyc
outputs/
